html, body {margin:0;}
body {background:#000;color:#FFF;}
h1 {font-family:"Arial Bold"}
body { font-family: Courier New, Courier, Lucida Sans Typewriter, Lucida Typewriter, monospace;}

#mainContent {display:flex;flex-direction:row;flex-wrap:wrap;justify-content:space-between;max-width:1200px;margin:0 auto;}
#mainContent div {width:400px;height:400px;}
iframe body {margin:0;}

#un {display:flex;flex-direction:column;justify-content:center;align-items:center;}

@media and screen (max-width:800px) {
    #mainContent {max-width:480px;justify-content:center;}
}